@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="jumbotron text-center mt-2 bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-12 bg-dark">
                    <h1>For Employers</h1>
                    <p>If you have stumbled across this site and want to see my Curriculum Vita, please click the button below to request a copy that I will send personally to the email you input.</p>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    <br>
                    <p><a class="btn btn-primary btn-danger" href="#" role="button">Request CV »</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Introduction</h1>
                <p>I am a Nigerian, Computer Science graduate with interest spanning across many creative projects. This site aims to showcase my range of profesional skills. You can find projects pertaining to: Application Development, Graphic Design, Audio Production/Engineering and Game Development.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-4 col-12">
                <ul class="list-unstyled">
                    <li class="media">
                        <img class="mr-3" src="../../Library/Application Support/Adobe/Dreamweaver 2020/en_GB/Configuration/Temp/Assets/eam1b233168.TMP/images/35X35.gif" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Last app dev project</h5>
                            Web portfolio using the MVC framework. Technologies used: AWS, C-Sharp, HTML
                            <p><a class="btn btn-primary btn-danger" href="#" role="button">Learn More »</a></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-12">
                <ul class="list-unstyled">
                    <li class="media">
                        <img class="mr-3" src="../../Library/Application Support/Adobe/Dreamweaver 2020/en_GB/Configuration/Temp/Assets/eam1b233168.TMP/images/35X35.gif" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Last graphic design project</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                            <p><a class="btn btn-primary btn-danger" href="#" role="button">Learn More »</a></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-12">
                <ul class="list-unstyled">
                    <li class="media">
                        <img class="mr-3" src="../../Library/Application Support/Adobe/Dreamweaver 2020/en_GB/Configuration/Temp/Assets/eam1b233168.TMP/images/35X35.gif" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Last audio production project</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                            <p><a class="btn btn-primary btn-danger" href="#" role="button">Learn More »</a></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Latest Works</h2>
                <p>Live updates on my latest projects as I am working on them.&nbsp; &nbsp;</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-24 text-center">
                <!-- Dynamic slideshow here -->
                <hr>
                <hr>
            </div>
        </div>
    </div>
</section>
<hr>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Contact me</h1>
                <p>Want to help with a project? Have some tips for me? Or do you have a specific request? hit the button below to go to my contact page.</p>
                <button type="button" class="btn btn-danger">Get in touch</button>
            </div>
        </div>
    </div>
</section>
<hr>